*{
    padding: 0%;
    margin: 0px;
}

.login-id{
    display: block;
    margin: auto;
    margin-top:10px;
}
.login-pass{
    display: block;
    margin:auto;
}
.login-keep{
    display: block;
    margin: auto;
}