*{
    padding :0px;
    margin:0px;
}
header{
    margin: 0 20%;
}
.header-top{
    display: flex;
    
}
.header-form{
    margin: 15px 20px;
    display: inline;
}
.icon{
    width: 50px;
    border-radius: 50%;
}
main{
    display: flex;
}
.main-home{
    margin:0 20%;
}
.home-form textarea{
    height: 100px;
    width: 70%;
}