*{
    padding :0px;
    margin:0px;
    size: 20px;
}

.header-main{
    max-width: 100%;
    display: flex;
    
}
.header-main-dm {
    text-align: right;
}
.header-form{
    margin: 15px 20px;
    display: inline;
}
.icon{
    width: 50px;
    border-radius: 50%;
}
main{
    display: flex;
}
.side-left{
    margin-left: 2%;
}
.main-home{
    margin:0 20%;
}
.home-form textarea{
    height: 100px;
    width: 70%;
}
.timeline{

}
.search-timeline{
    display: flex;
}
.search-timeline p{
    padding:3px;
}
.require p{
    color: red;
}